<ion-view view-title="Main" name="main-view">
	<ion-content class="bg-main-color" id="main-content" overflow-scroll="true" ng-click="closePostOptions()">
	<div>
	<div class="item">
		<h1>Chupetas da Galeris</h1>
		<div class="chupetas-sociais">
			<div class="chupeta">
				<p class="texto">Melhor postar, depois procurar ajuda</p>
				<div class="buttons">
					<div class="plus">{{plus}}</div>
					<div class="minus"></div>
					<div class="hana"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<h1>Chupetator 2000</h1>
		<div class="chupetas-sociais">
			<div class="chupeta">
				<p class="texto">Não entendi e não me importo em entender</p>
				<div class="buttons">
					<div class="plus">{{plus}}</div>
					<div class="minus"></div>
					<div class="hana"></div>
				</div>
			</div>
		</div>
	</div>
	</div>

	</ion-content>
</ion-view>