<ion-view view-title="Main" name="main-view">
	<ion-content class="bg-main-color main-content" id="main-content" overflow-scroll="false" locking="false" ng-click="closePostOptions()">
		<div class="main-container ng-{{showLogo}}">
			<div class="app-icon"></div>
			<h1 class="text-center">mimimi</h1>
		</div>
<!--		<div class="col text-center">-->
<!--			<i class="{{plus}} ng-{{visibility}} plus-icon white text-center center" ng-click="openPostOptions({{closed}})"></i>-->
<!--		</div>-->
		<div class="options-container row text-center white {{showOptions}} {{slide}}">
		  <div class="row">
			<div class="bar bar-header item-input-inset" style="padding-right: 0">
			  <i class="ion-ios-location white"></i>
			  <label class="item-input-wrapper">
				<input type="search" placeholder="Chora aqui vai!" ng-model="cryData.comment" class="white" maxlength="100">
			  </label>
			  <button class="button button-clear white ion-chevron-right icon-right" ng-click="cry(cryData)">
				Chorar
			  </button>
			</div>
		  </div>
		</div>
		<div class="answer-container">
			<div class="col no-margin-bottom no-padding-top white {{showChoro}}"><b>{{choros.choro}}</b></div>
			<div class="answer-container white text-left {{showAnswer}}">
				<div class="row responsive-sm">
					<div class="col no-padding-bottom no-margin-bottom"><b>Chupeta 2000 diz:</b></div>
					<div class="col no-padding-top no-padding-bottom no-margin-bottom">{{choros.answer}}</div>
				</div>
			</div>
		</div>
		<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" auto-play="true" does-continue="true" slide-interval="4000" class="ng-{{answersCarousel}}">
			<ion-slide ng-repeat="choroRelevante in chorosRelevantes">
				<div class="randon-container center text-center white">
					<div class="comment-image center"></div>
					<i>{{choroRelevante.text}}</i> - <b>@isascamargo</b><br>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
	<div class="row absolute bottom">
		<i class="white ion-ios-lightbulb absolute" menu-toggle="left"></i>
		<i class="yellow ion-ios-lightbulb absolute" menu-toggle="left"></i>
		<div class="profile-img" ng-click="profileModal()"></div>
		<i class="fire-icon ion-fireball absolute" menu-toggle="right"></i>
		<i class="fire-icon-small ion-fireball absolute" menu-toggle="right"></i>
	</div>
</ion-view>
