<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7 bg-second-color">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon white" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    
<!--    <ion-side-menu side="left">-->
<!--        <ion-header-bar class="bar-stable bg-main-color no-bg-image">-->
<!--            <h1 class="title menu-title brand-name white"></h1>-->
<!--        </ion-header-bar>-->
<!--        <ion-content overflow-scroll="true">-->
<!--            <ion-list>-->
<!--				<ion-item menu-close href="#/app/servicos">-->
<!--                    Serviços-->
<!--                </ion-item>-->
<!--                <ion-item menu-close href="#/app/agendamentos">-->
<!--                    Agendamentos-->
<!--                </ion-item>-->
<!--                <ion-item menu-close href="#/app/pets">-->
<!--                    Meus Pets-->
<!--                </ion-item>-->
<!--                <ion-item menu-close ng-click="logout()">-->
<!--                    Sair-->
<!--                </ion-item>-->
<!--            </ion-list>-->
<!--        </ion-content>-->
<!--    </ion-side-menu>-->

	<ion-side-menu side="left" class="bg-main-color">
        <ion-content overflow-scroll="true">
			<h5 class="white uppercase text-center" style="margin-bottom: -0.5rem; margin-top: 2rem">Chorões + Geniais</h5>
			<div class="comment-box" ng-repeat="choroRelevante in chorosRelevantes">
				<div class="choro-relevante bg-secondary-color white">
					<h5 class="white">{{choroRelevante.text}}</h5>
					<div class="pull-left">
						<div class="comment-image left"></div>
						<h6 class="white">@raulvbrito</h6>
					</div>
					<div class="pull-right arrow-container">
						<i class="ion-ios-arrow-down pull-right text-right" ng-click="like(choroRelevante._id)"></i>
						<i class="ion-ios-arrow-up pull-right text-right" ng-click="meh(choroRelevante._id)"></i>
					</div>
				</div>
				<div class="comment-bar"><h6><i class="ion-ios-chatboxes" style="margin-right: 5px;"></i>27 comentários <i class="ion-ios-arrow-up" style="margin-left: 5px; margin-right: 2px;"></i>713 UP's</h6></div>
			</div>
        </ion-content>
    </ion-side-menu>
	
	<ion-side-menu side="right" class="bg-main-color">
        <ion-content overflow-scroll="true">
			<h5 class="white uppercase text-center" style="margin-bottom: -0.5rem; margin-top: 2rem">Choros Flamejantes</h5>
			<div class="comment-box" ng-repeat="choroRelevante in chorosRelevantes">
				<div class="choro-relevante bg-secondary-color white">
					<h5 class="white">{{choroRelevante.text}}</h5>
					<div class="pull-left">
						<div class="comment-image left"></div>
						<h6 class="white">@raulvbrito</h6>
					</div>
					<div class="pull-right arrow-container">
						<i class="ion-ios-arrow-down pull-right text-right" ng-click="meh(choroRelevante._id)"></i>
						<i class="ion-ios-arrow-up pull-right text-right" ng-click="like(choroRelevante._id)"></i>
					</div>
				</div>
				<div class="comment-bar"><h6><i class="ion-ios-chatboxes" style="margin-right: 5px;"></i><b>27</b> comentários <i class="ion-ios-circle-filled" style="margin-left: 5px; margin-right: 5px;"></i><b>{{choroRelevante.score}}</b> pêsames</h6></div>
			</div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
