<ion-modal-view>
	<form>
	<ion-header-bar class="no-bg-image">
		<div class="buttons">
			<button class="button button-clear close ion-ios-close-empty secondary-color" ng-click="profileModalClose()"></button>
		</div>
		<h1 class="title secondary-color">Perfil</h1>
	</ion-header-bar>
	<ion-content class="bg-main-color">
		<div class="card profile-info">
			<div class="item">
				<div class="col">
					<div class="profile-img" ng-click="changeProfilePicture()"></div>
					<h2><b>raulvbrito</b></h2>
					<i class="ion-ios-gear right pull-right text-right"></i>
				</div>
			</div>
		</div>
		<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" does-continue="true">
			<ion-slide>
				<div class="card">
					<div class="item">
						<div class="col">
							<h2 class="text-center center"><b>Chupetes</b></h2>
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="card">
					<div class="item">
						<div class="col">
							<h2 class="text-center center"><b>Meus mimimis</b></h2>
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="card">
					<div class="item">
						<div class="col">
							<h2 class="text-center center"><b>Chupetados</b></h2>
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
	</form>
</ion-modal-view>
