b{
	width: 100%;
}

.left{
	float: left;
}

.center{
	margin: 0 auto !important;
}

.right{
	float: right;
}

.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.absolute{
	position: absolute;
}

.bottom{
	bottom: 0;
}

.right{
	right: 0;
}

.no-padding-top{
	padding-top: 0;
}

.no-padding-bottom{
	padding-bottom: 0;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

.lowercase{
	text-transform: lowercase;
}

.uppercase{
	text-transform: uppercase;
}

h5.uppercase{
	font-weight: 600;
/*	margin-left: 1.2rem;*/
	margin-top: 1.7rem;
}

ion-side-menu-content ion-nav-bar{
	display: none;
}

ion-modal-view ion-header-bar .buttons{
	margin-top: 2px !important;
}

ion-modal-view .profile-info .profile-img{
	border-color: #653cb4 !important;
	float: left;
	height: 75px;
	margin-right: 1rem;
	width: 75px;
}

ion-modal-view .profile-info .ion-ios-gear{
	font-size: 2rem;
}

#main-content{
	background-image: url('../img/fundo-blur-splash-mimi.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	top: 0;
}

.app-icon{
	background-image: url('../img/app_icon.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 30%;
	height: 261px;
	margin: 0 auto;
	margin-top: 3rem !important;
	width: 248px;
}

h1{ 
	color: #fff;
	font-weight: 300;
	margin-top: 0;
}

.plus-icon{
	font-size: 2rem;
}

.ion-ios-lightbulb{
	bottom: 15px;
	font-size: 40px;
	left: 20px;
}

.ion-ios-lightbulb.white{
	bottom: 15px;
	left: 18px;
}

.ion-fireball{
	bottom: 15px;
	font-size: 40px;
	right: 20px;
}

.fire-icon{
	color: #F60;
}

.fire-icon-small{
	color: #FC0;
	font-size: 25px;
	right: 24px !important;
}

.profile-img{
	background-image: url('../img/eu.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 3px solid #fff;
	border-radius: 60px;
	border-top-color: #FC0 !important;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 0.5rem !important;
	width: 60px;
}

.comment-image{
	background-image: url('../img/eu.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	height: 20px;
	margin-right: 0.3rem;
	margin-top: -0.2rem;
	width: 20px;
}

.arrow-container .ion-ios-arrow-up, .arrow-container .ion-ios-arrow-down{
	float: right;
	font-size: 2rem;
	margin-top: -2rem;
}

.arrow-container .ion-ios-arrow-up{
	color: #F60;
	margin-right: 1.5rem;
}

.arrow-container .ion-ios-arrow-down{
	color: #FFCB00;
}

.comment-bar{
	background-color: #FFCB00;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin: 0 auto;
	padding: 0.5rem 0;
	text-align: center;
	width: 90%;
}

.comment-bar h6{
	color: #333;
	margin: 0 auto;
	width: 100%;
}

/*.slider{*/
/*	bottom: 40px;*/
/*	width: 100%;*/
/*}*/
/**/

.choros-slider .slider-slides{
	width: 100% !important;
}

.choros-slider .slider-slides ion-slide{
	float: left !important;
}

ion-slide .card{
	margin-top: 0;
}

.options-container{
/*	background-color: rgba(255, 255, 255, 0.3);*/
	border-radius: 6px;
	margin: 1rem auto;
	overflow: overlay;
	transition: all 0.4s ease;
	width: 95%;
}

.options-container.chora-container{
	border-radius: 0;
	margin: 0;
	padding-bottom: 0;
	width: 100%;
}

.options-container.chora-container .col{
	padding-bottom: 0;
}

.options-container i{
	font-size: 2.5rem;
}

.options-container i.ion-ios-location{
	font-size: 1.5rem;
	margin-right: 1rem;
	margin-top: 0 !important;
}

.options-container.hide-options, .options-container.chora-container.hide-choro, .hide-answer{
	max-height: 0;
	overflow: overlay;
	padding: 0 0;
}

.options-container.show-options{
	max-height: 100px;
	
}

.options-container.chora-container.show-choro, .show-answer{
	min-height: 50px;
	overflow: overlay;
}

.options-container.chora-container.show-choro{
	padding-bottom: 1rem;
}

.options-container.show-options.slide-2, .options-container.show-options.slide-3{
	max-height: 75px;
}

.slider, .slider-slides, .slider-slide{
	width: 100%;
}

.bar .button.button-clear.icon-right:before{
	font-size: 15px;
	line-height: 34px;
	padding-left: 10px;
}

ion-modal-view .bar-header{
	border-top: 20px solid #653cb4;
}

.bar-header{
	background: transparent;
	padding-top: 0;
}

ion-modal-view .bar-header h1{
	margin-top: 0 !important;
}

.item-input-wrapper{
	background: rgba(255, 255, 255, 0.3);
	margin-top: 0 !important;
}

::-webkit-input-placeholder {
    color: #fff !important;
}

.button-clear{
	margin-top: 0 !important;
}

.choro-label{
	margin-top: 0.5rem;
}

.scroll{
	padding-bottom: 1rem;
}

.choro-relevante:nth-child(2){
	margin-top: 0;
}

.choro-relevante{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 0.5rem 0.9rem;
	margin: 1rem auto;
	margin-bottom: 0;
	width: 90%;
}

.ion-ios-close-empty{
    font-size: 2.3rem !important;
}

.randon-container{
	font-size: 0.78rem;
	padding: 1rem 2rem;
}

.randon-container i{
	font-style:	italic;
}

.randon-container .comment-image{
	background-image: url('../img/girl.png');
	height: 30px;
	margin-bottom: 0.5rem !important;
	width: 30px;
}

.main-content .slider{
	max-height: 110px !important;
}

.answer-container{
	margin: 0 1rem;
}