.bg-main-color{ background-color: #9e82d4; }
.bg-secondary-color{ background-color: #653cb4; }

.main-color{ color: #9e82d4; }
.secondary-color{ color: #653cb4; }
.white { color: #fff !important; }
.green{ color: #32B92D; }
.yellow{ color: #FFCB00; }
